@use "sass:math";
@import "mixins.scss";

// @import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "reset.scss";
@import "variables.scss";

body {
	font-family: $fontFamily;
	font-size: $fontSize;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $primary-2;
}
h1,
h2,
h3,
h4 {
	font-weight: 700;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

[class*="__container"] {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include adaptiveValue("gap", 30, 15);
	flex-wrap: wrap;
}

.button {
	background-color: $primary-1;
	color: $neutral-3;
	padding: toRem(15) toRem(35);
	// border: 2px solid $primary-1;
	border: 0;
	border-radius: toRem(50);
	font-size: toRem(13);
	font-weight: 700;
	&:hover,
	&:focus-visible {
		opacity: 0.9;
		box-shadow: 0 8px 7px $neutral-33;
	}
	&--inverted {
		background-color: $neutral-3;
		color: $primary-1;
		border: 1px solid $neutral-3;
		&:hover,
		&:focus-visible {
			box-shadow: 0 10px 7px $neutral-333;
		}
	}
}
.text {
	color: $neutral-1;
	line-height: 1.5;
	@include adaptiveValue("font-size", 16, 14);
}

.visually-hidden {
	position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}



.overlay {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
	// pointer-events: all;
	// display: none;
	@media (max-width: $tablet) {
		&.mobile-active {
			opacity: 1;
			visibility: visible;
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100dvh;
			background-image: linear-gradient(rgba(0 0 0 / 0.1), rgba(0 0 0 / 0.7));
			z-index: 2;
		}
	}
}

.header {
	width: 100%;
	// .header__container
	&__container {
		padding-top: toRem(40);
		@include adaptiveValue("padding-bottom", 40, 5);
		// padding-bottom: toRem(40);
		position: relative;
		@media (max-width: $tablet) {
			gap: 0;
		}
	}
	// .header__logo
	&__logo {
		z-index: 10;
	}
	// .header__burger-btn
	&__burger-btn {
		padding: toRem(8);
		display: none;
		transition: all 0.4s ease-in-out;
		z-index: 10;
		@media (max-width: $tablet) {
			display: block;
			margin-right: 0;
			margin-left: auto;
		}
		.icon-close {
			display: none;
		}
	}
	// .header__navbar
	&__navbar {
	}
	// .header__button
	&__button {
		z-index: 2;
		@media (max-width: $tablet) {
			display: none;
		}
	}
}

.navbar {
	transition: all 0.3s ease;
	@media (max-width: $tablet) {
		transform: translateX(120%);
		opacity: 0;
		position: fixed;
		inset: 0 toRem(30) auto;
		max-width: toRem(400);
		margin-top: toRem(100);
		margin-left: auto;
		margin-right: 0;
		z-index: 5;
		background-color: $neutral-4;
		padding: toRem(40);
		border-radius: toRem(5);
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
		&.mobile-active {
			transform: translateX(0px);
			opacity: 1;
		}
	}
	// .navbar__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 40, 10);
	}
	// .navbar__link
	&__link {
		padding: toRem(8);
		a {
			color: $primary-2;
			font-weight: 500;
			font-size: toRem(15);
			transition: all .4s ease;
			&:hover,
			&:focus {
				color: $primary-1;
			}
		}
		@media (max-width: $tablet) {
			flex: 1 1 100%;
			text-align: center;
			a {
				font-size: toRem(18);
				font-weight: 700;
				color: $primary-2;
			}
		}
	}
}

// Homepage----------------------------------

.homepage {
	min-height: calc(100dvh - 150px);
	flex-direction: row-reverse;
	@include adaptiveValue("margin-bottom", 150, 90);
	@include adaptiveValue("padding-top", 50, 15);

	@media (max-width: $tablet) {
		flex-direction: column;
		justify-content: center;
	}
	&.animate {
		opacity: 0;
		transition: all .7s ease;
		transform: translateY(-30px);
		&.show {
			opacity: 1;
			transform: translateY(0);
		}
	}
	// .homepage__container
	&__container {
	}
	// .homepage__content
	&__content {
		flex: 1;
		@media (max-width: $tablet) {
			text-align: center;
		}
	}
	// .homepage__title
	&__title {
		@include adaptiveValue("font-size", 56, 34);
		line-height: 1.15;
		@include adaptiveValue("margin-bottom", 30, 15);
	}
	// .homepage__text
	&__text {
		margin-bottom: toRem(30);
		p {
			max-width: toRem(350);
		}
		@media (max-width: $tablet) {
			p {
				margin: 0 auto;
			}
		}
	}
	// .homepage__button
	&__button {
		@media (max-width: $tablet) {
			margin: 0 auto;
		}
	}
	// .homepage__image
	&__image {
		flex: 1;
		position: relative;
		&::before {
			position: absolute;
			top: -82%;
			right: -60%;
			content: url("/img/bg-tablet-pattern.svg");
			z-index: -2;
			@media (max-width: $tablet) {
				left: 0%;
				top: -50%;
			}
			@media (max-width:$mobileSmall){
				 top: -140%;
				 left: -40%;
				 transform: scale(.5) 
			}
		}
		&::after {
			position: absolute;
			display: none;
			// top: -82%;
			// right: -60%;
			content: url("/img/bg-tablet-pattern.svg");
			z-index: -2;
			@media (max-width:$mobileSmall){
				display: block;
				top: 30%;
				left: -10%;
				transform: scale(.4) 
			}
		}
		@media (max-width: $tablet) {
			// flex: 1 1 40%;
		}
		img {
			max-width: 100%;
			margin: 0 auto;
			object-fit: cover;
		}
	}
}
//Section info-----------------------------

.info {
	position: relative;
	@include adaptiveValue("margin-bottom", 100, 60);
	&::before {
		position: absolute;
		top: 55%;
		left: -50%;
		content: url("/img/bg-tablet-pattern.svg");
		z-index: -1;
		@media (max-width:$mobile){
			  content: '';
		}
	}
	// .info__container
	&__container {
		align-items: start;
		@media (max-width: $mobile) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	// .info__left
	&__left {
		flex: 1;
		@media (max-width: $mobile) {
			text-align: center;
		}
	}
	// .info__title
	&__title {
		@include adaptiveValue("font-size", 40, 30);
		margin-bottom: toRem(30);
		max-width: toRem(500);
		&.animate {
			opacity: 0;
			transition: all .7s ease;
			transform: translateY(-30px);
			&.show {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	// .info__text
	&__text {
		margin-bottom: toRem(30);
		p {
			max-width: toRem(350);
		}
		@media (max-width: $mobile) {
			p {
				margin: 0 auto;
			}
		}
	}
	// .info__right
	&__right {
		flex: 1;
		padding-left: toRem(170);
		@media (max-width: $mobile) {
			padding-left: 0;
		}
	}
	// .info__items
	&__items {
		counter-reset: my-counter;
	}
	// .info__item
	&__item {
		counter-increment: my-counter;
		&:not(:last-child) {
			margin-bottom: toRem(45);
		}
		&.animate {
			// opacity: 0;
			transition: all .7s ease;
			transform: translateY(-15px);
			&.show {
				// opacity: 1;
				transform: translateY(0);
			}
			&:nth-child(1){
				transition-delay: .3s;
			}
			&:nth-child(2){
				transition-delay: .6s;
			}
			&:nth-child(3){
				transition-delay: 0.9s;
			}
		}
	}
	// .info__item-title
	&__item-title {
		position: relative;
		margin-bottom: toRem(20);
		&::before {
			content: counter(my-counter, decimal-leading-zero);
			position: absolute;
			// width: toRem(50);
			background-color: $primary-1;
			border-radius: toRem(30);
			top: 50%;
			left: toRem(-80);
			transform: translateY(-50%);
			padding: toRem(9) toRem(25);
			color: $neutral-3;
			text-align: center;
			font-size: toRem(14);
		}
		@media (max-width: $mobile) {
			padding-left: toRem(75);
			&::before {
				left: 0;
			}
			&::after {
				content: "";
				position: absolute;
				display: block;
				top: 50%;
				left: 5%;
				transform: translateY(-50%);
				width: 110%;
				height: toRem(40);
				z-index: -1;
				background-color: $neutral-3;
			}
		}
	}
	// .info__item-text
	&__item-text {
	}
}


//Section reviews slider-----------------------------

.reviews {
	@include adaptiveValue("margin-bottom", 150, 40);
		
	// .reviews__title
	&__title {
		@include adaptiveValue("font-size", 40, 30);
		@include adaptiveValue("margin-bottom", 80, 60);
		width: 100%;
		text-align: center;
		&.animate {
			opacity: 0;
			transition: all .7s ease;
			transform: translateY(-30px);
			&.show {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	.swiper {
		padding: toRem(30) 0 toRem(15);
		@include adaptiveValue("margin-bottom", 0, 20);
		
	}
	// .reviews__slider
	&__slider.swiper-wrapper {
		min-width: 0;
		margin-bottom: toRem(40);
		width: 100%;
	}
	// .reviews__item
	&__item.swiper-slide{
		max-width: toRem(550);
		display: grid;
		justify-items: center;
		gap: toRem(20);
		position: relative;
		background-color: $neutral-4;
		@include adaptiveValue("padding-top", 50, 30);
		@include adaptiveValue("padding-bottom", 50, 30);
		@include adaptiveValue("padding-right", 30, 30);
		@include adaptiveValue("padding-left", 30, 10);
	}
	// .reviews__item-avatar
	&__item-avatar {
		position: absolute;
		top: toRem(-30);
		left: 50%;
		transform: translateX(-50%);
		max-width: toRem(60);
	}
	// .reviews__item-name
	&__item-name {
	}
	// .reviews__item-text
	&__item-text {
		text-align: center;
	}
	.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
		.swiper-pagination-bullet{
			border: 1px solid $primary-1;
			opacity: 1;
			background-color: $neutral-3;
			&-active {
				background: $primary-1;
			}
			@media (min-width:$mobile){
				  display:none;
			}
		}
	}

	// .reviews__button
	&__button {
		display: block;
		margin: 0 auto;
	}
}

.call-to-action {
	background: url("/img/bg-simplify-section-desktop.svg") no-repeat;
	background-position: bottom 0% right -150%;
	background-color: $primary-1;
	color: $neutral-3;
	// .call-to-action__container
	&__container {
		@include adaptiveValue("padding-top", 62, 90);
		@include adaptiveValue("padding-bottom", 62, 90);

		@media (max-width: $mobile) {
			justify-content: center;
			text-align: center;
		}
	}
	// .call-to-action__text
	&__text {
		max-width: toRem(500);
		@include adaptiveValue("font-size", 40, 30);
		font-weight: 500;
		&.animate {
			opacity: 0;
			transition: all .5s ease;
			transform: translateX(-100%);
			&.show {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
	.button.button--inverted {
		&.animate {
			opacity: 0;
			transition: all .5s ease;
			transform: translateX(100%);
			&.show {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
}

//footer

.footer {
	background-color: $neutral-2;
	color: $neutral-4;
	// .footer__container
	&__container {
		@include adaptiveValue("padding-top", 62, 50);
		@include adaptiveValue("padding-bottom", 62, 50);
		position: relative;
		gap: toRem(50);
		align-items: start;
		justify-content: flex-start;
		@media (max-width:$tablet){
			  justify-content: center;
		}
		@media (max-width:$mobileSmall){
			 flex-direction: column-reverse;
			 align-items: center; 
		}
	}
	// .footer__logos
	&__logos {
		flex: 0 0 toRem(250);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// align-items: flex-start;
		@media (max-width: toEm(660)){
			 align-items: center;
		}
		@media (max-width:$mobileSmall){
			flex-direction: column-reverse;
			flex-basis:auto;
			align-items: center; 
		}
		
	}
	// .footer__main-logo
	&__main-logo {
		margin-bottom: toRem(80);
		@media (max-width: toEm(660)){
			margin-bottom: toRem(30);
		}
		// @include adaptiveValue("margin-bottom", 80, 10);
		img{}
	}
	// .footer__socials
	&__socials {
		display: flex;
		// justify-content: center;
		align-items: center;
		@include adaptiveValue("gap", 15, 30);
		// gap: toRem(15);
		@media (max-width:$mobileSmall){
			margin-bottom: toRem(50);
		}
		.socials__link:hover .socials__icon,
		.socials__link:focus .socials__icon {
			fill: $primary-1;

		}
		.socials__icon {
			fill: $neutral-4;
			width: toRem(20);
			height: toRem(20);
			transition: all .4s ease;
			@media (max-width: toEm(660)){
				width: toRem(30);
				height: toRem(30);
			}
		}
	}
	// .footer__nav
	&__nav {
		column-count: 2;
		@include adaptiveValue("column-gap", 120, 20);
		
	}
	// .footer__nav-links
	&__nav-links {
		&:not(:last-child){
			margin-bottom: toRem(10);
		}
		a {
			text-wrap: nowrap;
			opacity: .9;
			transition: all .4s ease;
			&:hover, &:focus {
				color: $primary-1;
			}
		}
	}
	// .footer__email-input
	&__email-input {
		flex: 1 1 25%;
	}
	&__form {
		display: flex;
		align-items: start;
		justify-content: end;
		@media (max-width:$tablet){
			justify-content: center;
		}
		input {
			background-color: $neutral-4;
			color: $neutral-1;
			padding: toRem(10) toRem(15);
			border-radius: toRem(50);
			margin-right: toRem(10);
			font-size: toRem(13);
			margin-bottom: toRem(75);
			@media (max-width:$mobileSmall){
				margin-bottom: toRem(5);
			}
		}
	}
	&__button {
		padding: toRem(10) toRem(18);
	}
	// .footer__copyright
	&__copyright {
		font-size: toRem(12);
		opacity: 0.4;
		text-align: right;
		@media (max-width:$tablet){
			text-align: center;
		}
		@media (max-width:$mobileSmall){
			position: absolute;
			text-wrap: nowrap;
			bottom: toRem(20);
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

